Source: ros-hydro-rqt-robot-plugins
Section: misc
Priority: extra
Maintainer: "Aaron Blasdel <ablasdel@willowgarage.com>, Isaac Saito <isao.saito@mavs.uta.edu>"
Build-Depends: debhelper (>= 7.0.50~), ros-hydro-catkin
Homepage: http://ros.org/wiki/rqt_robot_plugins
Standards-Version: 3.9.2

Package: ros-hydro-rqt-robot-plugins
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, ros-hydro-rqt-moveit, ros-hydro-rqt-nav-view, ros-hydro-rqt-pose-view, ros-hydro-rqt-robot-dashboard, ros-hydro-rqt-robot-monitor, ros-hydro-rqt-robot-steering, ros-hydro-rqt-runtime-monitor, ros-hydro-rqt-rviz, ros-hydro-rqt-tf-tree
Description: Metapackage of rqt plugins that are particularly used with robots during its operation. To run any rqt plugins, just type in a single command &quot;rqt&quot;, then select any plugins you want from the GUI that launches afterwards. rqt consists of three following metapackages: rqt - provides a container window where all rqt tools can be docked at. rqt plugin developers barely needs to pay attention. rqt_common_plugins - ROS backend tools suite that can be used on/off of robot runtime. rqt_robot_plugins (You're here!)
