Source: ros-groovy-rqt-robot-monitor
Section: misc
Priority: extra
Maintainer: Isaac Saito <isaito@willowgarage.com>
Build-Depends: debhelper (>= 7.0.50~), ros-groovy-catkin
Homepage: http://ros.org/wiki/rqt_robot_monitor
Standards-Version: 3.9.2

Package: ros-groovy-rqt-robot-monitor
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, ros-groovy-rqt-gui,ros-groovy-qt-gui-py-common,python-rospkg,ros-groovy-rosmsg,ros-groovy-rqt-gui-py,ros-groovy-rqt-py-common
Description: rqt_robot_monitor displays diagnostics_agg topic messages.
